.prt_div_button{
//margin-left: 50%;
margin-top: 2%;
//border: 1px solid black;
}
/*
.prt_div_display{
//border: 1px solid black;
}



.prt_label_display{
//border: 1px solid black;
margin-left: 10%;
}

.prt_form_content{
    margin-left: 10%;
    margin-top: 10%;
}

// Commet was here
.prt_form_create{
margin-top: 10%;
border: 1px solid black;
}

td{
//border: 1px solid black;
}
*/