<!DOCTYPE html>
<html>
    <head>
        <title>Kickstart Server Configuration Tool</title>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.1.0.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/title.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/simple-sidebar.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/uppernavbar.css')}}">
    </head>
    <body>
        <nav class="navbar navbar-inverse  navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="ll">
                <li><a id="menu-toggle" href="#"><img src="{{url_for('static',filename='img/menu.png')}}" width="20" height="20"></a></li>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Kickstart Configuration Tool</a>
                </div>
                <li><a href="/">Configuration</a></li>
                <li  class="active"><a href="Customise.html">Customization</a></li>
                <li><a href="Setup.html">Setup</a></li>
                <li><a href="help.html">Help?</a></li>
                <li><a href="Credits.html">Credits&#10026;</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </body>
</html>

